
/*
 Input

 Input TEXT style.
 <div class="x-grid-row">
    <div class="x-grid-col-50">
      <div class="x-input-container">
         <label class="x-input-title"> Titulo </label>
         <input type="text" class="x-input-text" placeholder="Styliguide" />
         <label class="x-input-message"> <!-- null message --> </label>
      </div>
    </div>
    <div class="x-grid-col-50">
      <div class="x-input-container">
         <label class="x-input-title"> Titulo </label>
         <input type="text" class="x-input-text" placeholder="Styliguide" />
         <label class="x-input-message"> * Maximo 10 caracteres </label>
      </div>
    </div>
    <div class="x-grid-col-50">
      <div class="x-input-container x-input-error">
         <label class="x-input-title"> Titulo </label>
         <input type="text" class="x-input-text" value="Styliguide Fail" />
         <label class="x-input-message "> * Maximo 10 caracteres </label>
      </div>
    </div>
    <div class="x-grid-col-50">
      <div class="x-input-container x-input-ok">
         <label class="x-input-title"> Titulo </label>
         <input type="text" class="x-input-text" value="Styliguide OK" />
         <label class="x-input-message"> * Maximo 10 caracteres </label>
      </div>
    </div>
  </div>


 ```markup

  <!-- Input -->
  <div class="x-input-container">
      <label class="x-input-title"> Titulo </label>
      <input type="text" class="x-input-text" placeholder="Styliguide" />
      <label class="x-input-message"> <!-- message --> </label> <!-- optional -->
  </div>
  <!-- Input -->

  <!-- Message Status -->
  <div class="x-input-container {{ x-input-ok | x-input-error }} ">
      <label class="x-input-title"> Titulo </label>
      <input type="text" class="x-input-text" value="Input OK" />
      <label class="x-input-message "> * Maximo 10 caracteres </label>
  </div>
  <!-- Message Status -->


  ```

 Styleguide Components.2
 */

.x-input{
  &-text{
    padding: 0.5rem;
    font-size: 1rem;
    display: block;
    line-height: 1.25rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    width: 100%;
    &:hover{
      background-color: rgba(0,0,0,0.025);
    }
  }
  &-container{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    min-height: 5rem;
    vertical-align: middle;
  }
  &-message{
    display: block;
    font-style: italic;
    opacity: 0.7;
  }
  &-title{
    display: block;
    font-weight: bold;
  }
  &-ok{
    .x-input-text{
      border-bottom-color: #A1CB00;
      color: #A1CB00;
    }
    .x-input-message{
      color: transparent;
    }
  }
  &-error{
    .x-input-text{
      border-bottom-color: #ff4c4c;
      color: #ff4c4c;
    }
    .x-input-message{
      color: #ff4c4c;
    }
  }
}