

// align

// Text
.x-tx-cnt{
  text-align: center;
}

// borders
.x-br-1{
  border: 1px solid rgba(0,0,0,0.5);
}
.x-br-rd-small{
  border-radius: .5rem;
}
.x-br-dott{
  border-style: dotted;
}

// paddings

.x-pd-small{
  padding: .5rem;
}


// backgrounds

.x-bg-overlay{
  background-color: rgba(0,0,0,0.1);
}