

/*

Commons Styles

Standardize the use of the most common CSS properties and avoid creating more selectors in the CCS Main

Styleguide 2Commons

*/



// borders
.x-br-1{
  border: 1px solid rgba(0,0,0,0.5);
}
.x-br-rd-small{
  border-radius: .5rem;
}
.x-br-dott{
  border-style: dotted;
}

// paddings
.x-pd-small{
  padding: .5rem;
}
.x-pd-card{
  padding: 1.2rem .5rem;
}


// Margins
.x-mg-small{
  margin: .5rem;
}
.x-mg-card{
  margin: 1.2rem .5rem;
}



// backgrounds
.x-bg-overlay{
  // styles of theme
}
.x-bg-black{
  // styles of theme
}
.x-bg-primary{
  // styles of theme
}
.x-bg-secondary{
  // styles of theme
}

// Color Text
p.x-white-text, div.x-white-text, article.x-white-text{
  color: #FFF;
}
p.x-bg-primary, div.x-bg-primary, article.x-bg-primary{
  // styles of theme
}
p.x-bg-secondary, div.x-bg-secondary, article.x-bg-secondary{
  // styles of theme
}

// Static sizes
.x-hg-5r{
  height: 5rem;
}
.x-hg-6r{
  height: 6rem;
}
.x-hg-7r{
  height: 7rem;
}
.x-hg-8r{
  height: 8rem;
}

// Static sizes
.x-wd-5r{
  width: 5rem;
}
.x-wd-6r{
  width: 6rem;
}
.x-wd-7r{
  width: 7rem;
}
.x-wd-8r{
  width: 8rem;
}
.x-wd-50{
  width: 50%;
}