.x-br-1 {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.x-br-rd-small {
  border-radius: 0.5rem;
}

.x-br-dott {
  border-style: dotted;
}

.x-pd-small {
  padding: 0.5rem;
}

.x-pd-card {
  padding: 1.2rem 0.5rem;
}

.x-mg-small {
  margin: 0.5rem;
}

.x-mg-card {
  margin: 1.2rem 0.5rem;
}

.x-bg-overlay {
  background-color: rgba(0, 0, 0, 0.1);
}

.x-bg-black {
  background-color: #333333;
}

p.x-white-text, div.x-white-text, article.x-white-text {
  color: #FFF;
}
