@charset "UTF-8";
/*
 Button

 Button style & normalize.

 Markup:
  <div class="x-grid-row">
    <div class="x-grid-col-50">
      <button class="x-button {{modifier_class}}" > 
        Button → 
      </button>
    </div>
    <div class="x-grid-col-50">
      <a href="#" class="x-button {{modifier_class}}" > 
        Button → 
      </a>
    </div>
  </div>

 .x-button-alt - A blue button.
 .x-button-black - Black Theme.
 .x-button-alert - Alert Theme
 .x-button-white - White Theme
 .x-button-disabled - Disabled Theme

 Styleguide Components.1
*/
.x-button {
  display: inline-block;
  font-weight: bold;
  border-radius: 1.3rem;
  border: none;
  margin: 0 0.5rem;
  min-height: 2.5rem;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0 1rem;
  transition: all 0.3s ease;
  text-decoration: none;
  vertical-align: middle;
  line-height: 2.5rem;
  white-space: nowrap;
  width: 80%;
  text-align: center;
}
.x-button.x-button-disabled, .x-button[disabled] {
  cursor: no-drop;
  opacity: 0.5;
}
.x-button:focus {
  outline: none;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
.x-button:hover {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.x-button:active {
  box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.7);
}

/*
 Input

 Input TEXT style.
 <div class="x-grid-row">
    <div class="x-grid-col-50">
      <div class="x-input-container">
         <label class="x-input-title"> Titulo </label>
         <input type="text" class="x-input-text" placeholder="Styliguide" />
         <label class="x-input-message"> <!-- null message --> </label>
      </div>
    </div>
    <div class="x-grid-col-50">
      <div class="x-input-container">
         <label class="x-input-title"> Titulo </label>
         <input type="text" class="x-input-text" placeholder="Styliguide" />
         <label class="x-input-message"> * Maximo 10 caracteres </label>
      </div>
    </div>
    <div class="x-grid-col-50">
      <div class="x-input-container x-input-error">
         <label class="x-input-title"> Titulo </label>
         <input type="text" class="x-input-text" value="Styliguide Fail" />
         <label class="x-input-message "> * Maximo 10 caracteres </label>
      </div>
    </div>
    <div class="x-grid-col-50">
      <div class="x-input-container x-input-ok">
         <label class="x-input-title"> Titulo </label>
         <input type="text" class="x-input-text" value="Styliguide OK" />
         <label class="x-input-message"> * Maximo 10 caracteres </label>
      </div>
    </div>
  </div>


 ```markup

  <!-- Input -->
  <div class="x-input-container">
      <label class="x-input-title"> Titulo </label>
      <input type="text" class="x-input-text" placeholder="Styliguide" />
      <label class="x-input-message"> <!-- message --> </label> <!-- optional -->
  </div>
  <!-- Input -->

  <!-- Message Status -->
  <div class="x-input-container {{ x-input-ok | x-input-error }} ">
      <label class="x-input-title"> Titulo </label>
      <input type="text" class="x-input-text" value="Input OK" />
      <label class="x-input-message "> * Maximo 10 caracteres </label>
  </div>
  <!-- Message Status -->


  ```

 Styleguide Components.2
 */
.x-input-text {
  padding: 0.5rem;
  font-size: 1rem;
  display: block;
  line-height: 1.25rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  width: 100%;
}
.x-input-text:hover {
  background-color: rgba(0, 0, 0, 0.025);
}
.x-input-container {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
  min-height: 5rem;
  vertical-align: middle;
}
.x-input-message {
  display: block;
  font-style: italic;
  opacity: 0.7;
}
.x-input-title {
  display: block;
  font-weight: bold;
}
.x-input-ok .x-input-text {
  border-bottom-color: #A1CB00;
  color: #A1CB00;
}
.x-input-ok .x-input-message {
  color: transparent;
}
.x-input-error .x-input-text {
  border-bottom-color: #ff4c4c;
  color: #ff4c4c;
}
.x-input-error .x-input-message {
  color: #ff4c4c;
}

/*      ExperiGrid     */
.extend-max-width-page {
  max-width: calc(1rem * 90);
  margin: 0 auto;
  text-align: center;
}

.out-react, .max-width-page {
  max-width: calc(1rem * 80);
  margin: 0 auto;
}

.out-react {
  display: none;
}
.out-react section {
  width: 100%;
}

.noDesk {
  display: none;
}
@media all and (max-width: 950px) {
  .noDesk {
    display: inherit;
  }
}

.noMobile {
  display: inherit;
}
@media all and (max-width: 950px) {
  .noMobile {
    display: none;
  }
}

.x-grid-row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-wrap: wrap;
  /* Particularidades */
}
.x-grid-row [class*=x-grid-col-] {
  width: 100%;
  max-width: 100%;
  flex: 1 1 auto;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}
.x-grid-row .x-grid-col-auto {
  flex: 1 1 auto;
}
.x-grid-row .x-grid-col-100 {
  flex: 1 1 100%;
  max-width: 100%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-100:not(.responsivent) {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .x-grid-row .x-grid-col-100:not(.responsivent) + [class*=x-grid-col-] {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-90 {
  flex: 1 1 90%;
  max-width: 90%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-90:not(.responsivent) {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .x-grid-row .x-grid-col-90:not(.responsivent) + [class*=x-grid-col-] {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-85 {
  flex: 1 1 85%;
  max-width: 85%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-85:not(.responsivent) {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .x-grid-row .x-grid-col-85:not(.responsivent) + [class*=x-grid-col-] {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-80 {
  flex: 1 1 80%;
  max-width: 80%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-80:not(.responsivent) {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .x-grid-row .x-grid-col-80:not(.responsivent) + [class*=x-grid-col-] {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-75 {
  flex: 1 1 75%;
  max-width: 75%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-75:not(.responsivent) {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .x-grid-row .x-grid-col-75:not(.responsivent) + [class*=x-grid-col-] {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-70 {
  flex: 1 1 70%;
  max-width: 70%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-70:not(.responsivent) {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .x-grid-row .x-grid-col-70:not(.responsivent) + [class*=x-grid-col-] {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-65 {
  flex: 1 1 65%;
  max-width: 65%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-65:not(.responsivent) {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .x-grid-row .x-grid-col-65:not(.responsivent) + [class*=x-grid-col-] {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-60 {
  flex: 1 1 60%;
  max-width: 60%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-60:not(.responsivent) {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .x-grid-row .x-grid-col-60:not(.responsivent) + [class*=x-grid-col-] {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-55 {
  flex: 1 1 55%;
  max-width: 55%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-55:not(.responsivent) {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .x-grid-row .x-grid-col-55:not(.responsivent) + [class*=x-grid-col-] {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-50 {
  flex: 1 1 50%;
  max-width: 50%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-50:not(.responsivent) {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-45 {
  flex: 1 1 45%;
  max-width: 45%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-45:not(.responsivent) {
    flex: 1 1 90%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-40 {
  flex: 1 1 40%;
  max-width: 40%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-40:not(.responsivent) {
    flex: 1 1 80%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-35 {
  flex: 1 1 35%;
  max-width: 35%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-35:not(.responsivent) {
    flex: 1 1 70%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-30 {
  flex: 1 1 30%;
  max-width: 30%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-30:not(.responsivent) {
    flex: 1 1 60%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-25 {
  flex: 1 1 25%;
  max-width: 25%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-25:not(.responsivent) {
    flex: 1 1 50%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-20 {
  flex: 1 1 20%;
  max-width: 20%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-20:not(.responsivent) {
    flex: 1 1 40%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-15 {
  flex: 1 1 15%;
  max-width: 15%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-15:not(.responsivent) {
    flex: 1 1 30%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-10 {
  flex: 1 1 10%;
  max-width: 10%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-10:not(.responsivent) {
    flex: 1 1 20%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-33 {
  flex: 1 1 33.33%;
  width: 33.33%;
  max-width: 33.33%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-33:not(.responsivent) {
    flex: 1 1 66.66%;
    width: 66.66%;
    max-width: 100%;
  }
}
.x-grid-row .x-grid-col-66 {
  flex: 1 1 66.66%;
  width: 66.66%;
  max-width: 66.66%;
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-66:not(.responsivent) {
    flex: 1 1 100%;
    width: 100%;
    max-width: 100%;
  }
}
@media all and (max-width: 500px) {
  .x-grid-row .x-grid-col-25:not(.responsivent) {
    flex: 1 1 100%;
    width: 100%;
    max-width: 100%;
  }
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-20 + .x-grid-col-30:not(.responsivent) {
    flex: 1 1 60%;
    width: 60%;
    max-width: 60%;
  }
}
@media all and (max-width: 950px) {
  .x-grid-row .x-grid-col-10 + .x-grid-col-40:not(.responsivent) {
    flex: 1 1 80%;
    width: 80%;
    max-width: 80%;
  }
}

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

* {
  box-sizing: border-box;
  /* 1 */
  margin: 0;
  outline: none;
}

img {
  width: 100%;
  max-width: 100%;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

:root {
  --primary: #00BCFF;
  --secondary: #A1CB00;
  --black: #1E1E1E;
  --alt-primary: #48484A;
  --alt-secondary: #006262;
  --white: #FFF;
}

.x-button {
  background-color: #00BCFF;
  color: #FFF;
}
.x-button:hover {
  color: #FFF;
}
.x-button.x-button-alt {
  background-color: #A1CB00;
}
.x-button.x-button-black {
  background-color: #999;
}
.x-button.x-button-alert {
  background-color: #ff4c4c;
}
.x-button.x-button-white {
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
}
.x-button.x-button-white:hover {
  background-color: rgba(250, 250, 250, 0.5);
}
.x-button.x-button-disabled, .x-button[disabled] {
  background-color: #999;
}

.x-h1, .x-h2, .x-h3, .x-h4, .x-h5 {
  color: #00BCFF;
}

.x-h-alt {
  color: #A1CB00;
}

.x-img-ovl-layer:before {
  background: #00bcff;
  background: linear-gradient(90deg, #00bcff 0%, #a1cb00 100%);
}

.x-br-1 {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.x-br-rd-small {
  border-radius: 0.5rem;
}

.x-br-dott {
  border-style: dotted;
}

.x-pd-small {
  padding: 0.5rem;
}

.x-pd-card {
  padding: 1.2rem 0.5rem;
}

.x-mg-small {
  margin: 0.5rem;
}

.x-mg-card {
  margin: 1.2rem 0.5rem;
}

.x-bg-overlay {
  background-color: rgba(0, 0, 0, 0.1);
}

.x-bg-black {
  background-color: #333333;
}

p.x-white-text, div.x-white-text, article.x-white-text {
  color: #FFF;
}

/*
 Morph Card 

 Markup:
 <div class="x-card-morph">
  <h3 class="x-tx-cnt"> Card </h3> 
 </div>


 Styleguide Containers.1
 */
.x-card-morph {
  display: block;
  border-radius: 1rem;
  box-shadow: 0 0 7px -3px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
  overflow: hidden;
}
.x-card-morph:hover {
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.9);
}

/*
 Morph Card + Padding + Grid

 Markup:
 <div class="x-grid-row x-tx-cnt ">
    <div class="x-grid-col-33 x-pd-small">
      <div class="x-card-morph x-pd-card">
        <h3 class="x-h3"> Card </h3> 
        <p > Morph Style </p>
        <button class="x-button"> Read </button>
      </div>
    </div>
    <div class="x-grid-col-33 x-pd-small">
      <div class="x-card-morph x-pd-card">
        <h3 class="x-h3 x-h-alt"> Card </h3> 
        <p > Morph Style </p>
        <button class="x-button x-button-alt"> Read </button>
      </div>
    </div>
    <div class="x-grid-col-33 x-pd-small">
    </div>
 </div>



 Styleguide Containers.2
 */
/*
 Image Overlay

 Container image with over element

 Markup:
 <div class="x-img-ovl">
    <!-- img simple element -->
    <img src="kss-assets/img/banner-vtex.jpg" alt>
    <!-- over element -->
    <div class="x-img-ovl-layer">
      <div>
        <h2 class="x-mg-small"> VTEX </h2>
        <button class="x-button x-button-white" > 
          Button→ 
        </button>
      </div>
    </div>
 </div>


 Styleguide Containers.3
 */
.x-img-ovl {
  position: relative;
  background-color: #333;
  overflow: hidden;
}
.x-img-ovl img {
  filter: blur(0);
  display: block;
  transition: all 0.3s ease;
  width: 100%;
  transform: scale(1);
}
.x-img-ovl-layer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #FFF;
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.x-img-ovl-layer:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0.5;
  z-index: -1;
}
.x-img-ovl:hover .x-img-ovl-layer {
  opacity: 1;
}
.x-img-ovl:hover img {
  filter: blur(1px);
  opacity: 0.5;
  transform: scale(1.1);
}

/*
 Morph Card + Image Overlay

 Markup:
 <div class="x-grid-row x-tx-cnt">
    <!-- GRID layout -->
    <div class="x-grid-col-33 x-pd-small">
      <!-- Morph Card  -->
      <div class="x-card-morph">
        <!-- Image Overlay  -->
        <div class="x-img-ovl">
          <img src="kss-assets/img/banner-vtex.jpg" alt>
          <div class="x-img-ovl-layer">
            <div>
              <h2 class="x-mg-small"> VTEX </h2>
            </div>
          </div>
        </div>
        <!-- -->
        <div class="x-pd-card">
          <p class="x-p-js-small"> Is a long established fact that a reader will be distracted by the 
              readable content of a page when looking at its layout. The point of using 
              Lorem Ipsum is that it... </p>
          <button class="x-button"> Read </button>
        </div>
      </div>
    </div>

 </div>



 Styleguide Containers.4
 */
/*
 Fly Border Container

 Example
 <!-- Card Layout -->
  <div class="x-grid-row x-tx-cnt x-bg-black x-br-rd-small">
    <!-- GRID layout -->
    <div class="x-grid-col-33 x-pd-small">
      <!-- Fly Border -->
      <div class="x-fly-br">
        <div class="x-fly-br-cnt">
          <!-- your content -->
          <div class="x-img-ovl">
            <img src="kss-assets/img/banner-vtex.jpg" alt>
            <div class="x-img-ovl-layer">
              <div>
                <h2 class="x-mg-small"> VTEX </h2>
              </div>
            </div>
          </div>
          <!-- -->
        </div>
      </div>
      <!-- Fly Border -->
    </div>
  </div>


 Sintaxis
 ```markup
  <!-- Fly Border -->
  <div class="x-fly-br">
    <div class="x-fly-br-cnt">
      <!-- your content -->
    </div>
  </div>
 ```


 Styleguide Containers.5
 */
.x-fly-br {
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid rgba(250, 250, 250, 0);
  transition: border 0.3s ease;
}
.x-fly-br:hover {
  border: 1px solid rgba(250, 250, 250, 0.4);
}
.x-fly-br-cnt {
  overflow: hidden;
  border-radius: 0.75rem;
}

/*
 Surf Container

 Example
  <div class="x-surf-cnt">
    <!-- content -->
    <h2 class="x-h2 x-h-alt"> ¿Quiénes somos? </h1>
    <p class="x-white-text"> Somos una apasionada compañía de desarrollo de software basada en equipos motivados y de alto desempeño<p>
    <h3 class="x-h3"> Nuestros Colaboradores </h3>
    <div class="x-grid-row">
      <div class="x-grid-col-33 x-pd-small">
        <div class="x-fly-br">
          <div class="x-fly-br-cnt">
            <div class="x-img-ovl">
              <img src="kss-assets/img/banner-vtex.jpg" alt>
              <div class="x-img-ovl-layer">
                <div class="x-tx-lft x-pd-small">
                  <p> Blog/Ecommerce </p>
                  <h4 class="x-mg-small"> ¿Por que eligir VTEX para migrar su eCommerce?</h4>
                  <button class="x-button x-button-white"> ver articulo → </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="x-grid-col-33 x-pd-small">
        <div class="x-fly-br">
          <div class="x-fly-br-cnt">
            <div class="x-img-ovl">
              <img src="kss-assets/img/banner-vtex.jpg" alt>
              <div class="x-img-ovl-layer">
                <div class="x-tx-lft x-pd-small">
                  <p> Blog/Ecommerce </p>
                  <h4 class="x-mg-small"> ¿Por que eligir VTEX para migrar su eCommerce?</h4>
                  <button class="x-button x-button-white"> ver articulo → </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="x-grid-col-33 x-pd-small">
        <div class="x-fly-br">
          <div class="x-fly-br-cnt">
            <div class="x-img-ovl">
              <img src="kss-assets/img/banner-vtex.jpg" alt>
              <div class="x-img-ovl-layer">
                <div class="x-tx-lft x-pd-small">
                  <p> Blog/Ecommerce </p>
                  <h4 class="x-mg-small"> ¿Por que eligir VTEX para migrar su eCommerce?</h4>
                  <button class="x-button x-button-white"> ver articulo → </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="x-h3"> Nuestra Cultura </h3>
    <p class="x-white-text"> Nos encanta trabajar en equipo Somos una apasionada compañía de desarrollo de software basada en equipos motivados y de alto desempeño<p>
    <!-- content -->
  </div>


 Sintaxis
 ```markup
<div class="x-surf-cnt">
   <!-- Your Content -->
</div>
```

 Styleguide Containers.6
 */
.x-surf-cnt {
  margin: 4rem 0;
  background-color: #2f2f30;
  color: #FFF;
  padding: 1rem;
  position: relative;
}
.x-surf-cnt:before {
  content: "";
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA1MDggMzMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUwOCAzMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iIzJGMkYzMCIgZD0iTTUwOCwzM0gwdi00YzAsMCw1MS00OCwyNTQtMTVjMTc5LjcsMjkuMiwyNTQsMCwyNTQsMFYzM3oiLz48L3N2Zz4K");
  position: absolute;
  left: 0;
  right: 0;
  height: 4rem;
  display: block;
  background-size: 109% auto;
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
  width: 100%;
  background-color: transparent;
  top: -3.9rem;
}
.x-surf-cnt:after {
  content: "";
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA1MDggMzMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUwOCAzMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+Cgk8cGF0aCBmaWxsPSIjMkYyRjMwIiBkPSJNNTA4LDAuNEwwLDAuNGwwLDRjMCwwLDUxLDQ4LDI1NCwxNWMxNzkuNy0yOS4yLDI1NCwwLDI1NCwwVjAuNHoiLz4KPC9zdmc+Cg==");
  position: absolute;
  left: 0;
  right: 0;
  height: 4rem;
  display: block;
  background-size: 110% auto;
  background-repeat: no-repeat;
  background-position-y: top;
  width: 100%;
  background-color: transparent;
  bottom: -3.9rem;
  background-position-x: center;
}

/*
 Headline

 class to respect title `.x-h[ number ]` for example `.x-h1`

 Markup:
 <h1 class="x-h1 {{modifier_class}}"> Title H1 </h1>
  <h2 class="x-h2 {{modifier_class}}"> Title H2 </h2>
   <h3 class="x-h3 {{modifier_class}}"> Title H3 </h3>
    <h4 class="x-h4 {{modifier_class}}"> Title H4 </h4>
     <h5 class="x-h5 {{modifier_class}}"> Title H5 </h5>

 .x-h-alt - a Second color.

 Styleguide Paragraphs.Headlines
 */
.x-title, .x-h5, .x-h4, .x-h3, .x-h2, .x-h1 {
  font-weight: 700;
  margin: 0.65em 0;
}

.x-h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.x-h2 {
  font-size: 1.9rem;
  text-transform: uppercase;
}

.x-h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.x-h4 {
  font-size: 1.4rem;
}

.x-h5 {
  font-size: 1.2rem;
}

/*
 Central Text

 for central text re-use class `.x-tx-cnt`

 Markup:
 <p class="x-tx-cnt"> Text Align center </p>

 Styleguide Paragraphs.CentralText
 */
.x-tx-cnt {
  text-align: center;
}

/*
 Left Text

 for Left text re-use class `.x-tx-cnt`

 Markup:
 <p class="x-tx-cnt"> Text Align center </p>

 Styleguide Paragraphs.LeftText
 */
.x-tx-lft {
  text-align: left;
}

.x-p-js-small {
  text-align: justify;
  padding: 0.5rem;
  color: #757575;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
