// Import variables SASS/SCSS 
//
// install and import variables colors from theme
// ```ssh
//  npm install @experimentality/exp-ui
// ```
// ```css
//  @import '@experimentality/exp-ui/dist/theme/experimentality';
// ```
//
//
// Styleguide Brandlines.1


// Highlight Colors
//
// Colors we use for higlighting states by brand TEST 2.
//
// $primary - #00BCFF; Primary Color Blue
// $secondary - #A1CB00; Secondary Color Green
// $alt-primary - #48484A;  Primary Alternate
// $alt-secondary - #006262;  Secondary Alternate
// $white - #FFF; Absolute White
// $black - #1E1E1E; Absolute Black
// $highlight-blue - #1460aa; Highlight Blue
// $gray  - #f7f9fa; Soft Gray
// $grey-dark - #e3e4e6; Dark Gray
// $vtex - #F71963; VTEX
// $vtexSecond  - #134cd8;  VTEX Second
// $vtexSecondHover - #dbe9fd; VTEX Hover Second 
// $vtexAlert  - #ff4c4c; VTEX Alert
// $magic - #97113d; MagicStore
//
// Styleguide Brandlines.2

$primary: #00BCFF;
$secondary: #A1CB00;
$black: #1E1E1E;
$alt-primary: #48484A;
$alt-secondary: #006262;
$white: #FFF;
$alert: #97113d;
$gray: #999;

$vtex: #F71963;
$vtexSecond : #134cd8;
$vtexSecondHover: #dbe9fd;
$vtexAlert : #ff4c4c;
$magic: #97113d;

:root{
  --primary: #00BCFF;
  --secondary: #A1CB00;
  --black: #1E1E1E;
  --alt-primary: #48484A;
  --alt-secondary: #006262;
  --white: #FFF;
}

// X-Button theme
.x-button{
  background-color: $primary;
  color: $white;
  &:hover{
    color: $white;
  }
  &.x-button-alt{
    background-color: $secondary;
  }
  &.x-button-black{
    background-color: $gray;
  }
  &.x-button-alert{
    background-color: $vtexAlert;
  }
  &.x-button-white{
    background-color: transparent;
    color: $white;
    border: 1px solid $white;
    &:hover{
      background-color: rgba(250,250,250,0.5);
    }
  }
  &.x-button-disabled, &[disabled]{
    background-color: $gray;
  }
}

// Headlines colors
.x-h1, .x-h2, .x-h3, .x-h4, .x-h5{
  color: $primary;
}
.x-h-alt{
  color: $secondary;
}

// backgrounds
.x-bg-primary{
  background-color: $primary;
}
.x-bg-secondary{
  background-color: $secondary;
}
.x-bg-overlay{
  background-color: rgba(0,0,0,0.1);
}
.x-bg-black{
  background-color: #333;
}

// Text colors 
p.x-bg-primary, div.x-bg-primary, article.x-bg-primary{
  color: $primary;
}
p.x-bg-secondary, div.x-bg-secondary, article.x-bg-secondary{
  color: $secondary;
}

// Overlay Image

// Gradiant Primary 
// 
// background gradiant `x-gradiant-primary`
//
// Markup:
// <div class="x-hg-5r x-gradiant-primary">
//  </div>
//
// Styleguide Brandlines.3
.x-img-ovl-layer:before, .x-img-hexa-img:before, .x-gradiant-primary{
  background: rgb(0,188,255);
  background: linear-gradient(90deg, rgba(0,188,255,1) 0%, rgba(161,203,0,1) 100%);
}

// Gradiant Secondary 
// 
// background gradiant `x-gradiant-secondary`
//
// Markup:
// <div class="x-hg-5r x-gradiant-secondary">
//  </div>
//
// Styleguide Brandlines.4
.x-gradiant-secondary{
  background: rgb(30,30,30);
  background: linear-gradient(90deg, rgba(30,30,30,1) 0%, rgba(0,98,98,1) 50%, rgba(30,30,30,1) 100%);
}