// Import variables SASS/SCSS 
//
// import variables colors from theme on <br>
// ```css
//  @import 'exp-ui/dist/theme/experimentality';
// ```
//
//
// Styleguide Brandlines.1


// Highlight Colors
//
// Colors we use for higlighting states by brand TEST 2.
//
// $primary - #00BCFF; Primary Color Blue
// $secondary - #A1CB00; Secondary Color Green
// $black - #1E1E1E; black
// $alt-primary - #48484A;  alt primary
// $alt-secondary - #006262;  alt secondary
// $white - #FFF; white
// $highlight-blue - #1460aa; primary blue
// $gray  - #f7f9fa; gray color
// $grey-border - #e3e4e6; grey border
// $vtex - #F71963; vtex
// $vtexSecond  - #134cd8;  vtex
// $vtexSecondHover - #dbe9fd; vtex hover
// $vtexAlert  - #ff4c4c; alert
// $magic - #97113d; magic
//
// Styleguide Brandlines.2

$primary: #00BCFF;
$secondary: #A1CB00;
$black: #1E1E1E;
$alt-primary: #48484A;
$alt-secondary: #006262;
$white: #FFF;
$alert: #97113d;
$gray: #999;

$vtex: #F71963;
$vtexSecond : #134cd8;
$vtexSecondHover: #dbe9fd;
$vtexAlert : #ff4c4c;
$magic: #97113d;

:root{
  --primary: #00BCFF;
  --secondary: #A1CB00;
  --black: #1E1E1E;
  --alt-primary: #48484A;
  --alt-secondary: #006262;
  --white: #FFF;
}

// X-Button theme
.x-button{
  background-color: $primary;
  color: $white;
  &:hover{
    color: $white;
  }
  &.x-button-alt{
    background-color: $secondary;
  }
  &.x-button-black{
    background-color: $gray;
  }
  &.x-button-alert{
    background-color: $vtexAlert;
  }
  &.x-button-disabled, &[disabled]{
    background-color: $gray;
  }
}

// Headlines colors
.x-h1, .x-h2, .x-h3, .x-h4, .x-h5{
  color: $primary;
}
.x-h-alt{
  color: $secondary;
}

// Overlay Image
.x-img-ovl-layer:before{
  background: rgb(0,188,255);
  background: linear-gradient(90deg, rgba(0,188,255,1) 0%, rgba(161,203,0,1) 100%);
}