:root {
  --primary: #00BCFF;
  --secondary: #A1CB00;
  --black: #1E1E1E;
  --alt-primary: #48484A;
  --alt-secondary: #006262;
  --white: #FFF;
}

.x-button {
  background-color: #00BCFF;
  color: #FFF;
}
.x-button:hover {
  color: #FFF;
}
.x-button.x-button-alt {
  background-color: #A1CB00;
}
.x-button.x-button-black {
  background-color: #999;
}
.x-button.x-button-alert {
  background-color: #ff4c4c;
}
.x-button.x-button-disabled, .x-button[disabled] {
  background-color: #999;
}

.x-h1, .x-h2, .x-h3, .x-h4, .x-h5 {
  color: #00BCFF;
}

.x-h-alt {
  color: #A1CB00;
}

.x-img-ovl-layer:before {
  background: #00bcff;
  background: linear-gradient(90deg, #00bcff 0%, #a1cb00 100%);
}
