// primary theme color of the styleguide.
$cowabunga:       #A1CB00;

// secondary colors.
$black:           #222222;
$gray:            #CCCCCC;
$white:           #FFFFFF;

// utility colors.
$blue:            #00BCFF;
$green:           #006262;
$orange:          #48484A;
$red:             #E74C3C;
